.blog-navbar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-width: 10px;
  border-color: black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}
.blog_logo a {
  color: #8a2be2;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.nav-links a {
  margin-right: 10px;
  color: white;
  background-color: #8a2be2;
  transition: all 0.1s ease-in-out;
  padding-right: 20px;
}

.nav-links a:hover {
  background-color: #8a2be2;
  transform: scale(1.1);
  box-shadow: 2px 2px #ffbf00;
}
