@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.moreinfo {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
}

.longdescription {
  font-family: "Roboto";
  border-right: solid 2px black;
  padding-right: 25px;
  margin-left: 65px;
  font-size: 20px;
  width: 50%;
  font-weight: 550;
}

@media only screen and (max-width: 700px) {
  .longdescription {
    display: none;
    font-size: 20px;
    margin-left: 10px;
    border: none;
    width: 100%;
    padding-right: 0px;
  }

  .moreinfo {
    border-top: none;
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}
