.star {
  z-index: -1;
  transform-style: preserve-3d;
  width: 0.5px;
  height: 0.5px;
  position: absolute;
  color: red;
  z-index: 1000;
}

.star:before {
  position: absolute;
  content: "⭐";
  color: inherit;
  inset: 0;
  text-shadow: 0 0 0.8em #fff5;
}
