@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@600&display=swap");

.container_work {
  display: flex;
}

#worksin_heading5 {
  margin-left: 30px;
  font-size: 50px;
  padding-top: 50px;
  padding-right: 60px;
  font-family: "poppins";
  max-width: 50%;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  border-right: solid 2px black;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 120px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 220px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
}

.logos:after {
  right: 0;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 250px;
  width: 250px;
  margin: 0 40px;
}
@media only screen and (max-width: 700px) {
  #worksin_heading5 {
    border: none;
    display: none;
  }

  .container_work {
    border-top: 2px solid black;
    margin-top: 50px;
    border-bottom: 2px solid black;
  }
}
